#### data imbalance

data imbalance is unqual distribution of classes in the  dataset..
we use data imbalance because it impacts the correction between features, thus if not used there will be some biasness in the model .
data imbalance can be handled by  the following  method are: 

resampling(oversampling and undersampling)-This is as intuitive as it sounds. Undersampling is the process where you randomly delete some of the observations from the majority class in order to match the numbers with the minority class. 
The second resampling technique is called, Oversampling. This process is a little more complicated than undersampling. It is the process of generating synthetic data that tries to randomly generate a sample of the attributes from observations in the minority class. There are a number of methods used to oversample a dataset for a typical classification problem. The most common technique is called SMOTE (Synthetic Minority Over-sampling Technique). In simple terms, it looks at the feature space for the minority class data points and considers its k nearest neighbours.

Esambling methods-use multiple learning algorithms and techniques to obtain better performance than what could be obtained from any of the constituent learning algorithms alone. (Yes, just like a democratic voting system). When using ensemble classifiers, bagging methods become popular and it works by building multiple estimators on a different randomly selected subset of data. In the scikit-learn library, there is an ensemble classifier namedBaggingClassifier. However, this classifier does not allow to balance each subset of data. Therefore, when training on imbalanced data set, this classifier will favour the majority classes and create a biased model.In order to fix this, we can use BalancedBaggingClassifier from imblearn library. It allows the resampling of each subset of the dataset before training each estimator of the ensemble. Therefore, BalancedBaggingClassifier takes the same parameters as the scikit-learn BaggingClassifierin addition to two other parameters, sampling_strategy and replacement which control the behaviour of the random sampler.
using .. is how we will handle the data imbalance.

In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Loading data training data.
data = pd.read_csv('data/train_data_week_1_challenge.csv')
data.head()

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,continue,s01746,M,BC,0.666,0.468,0.666,7,6,other,True,305,354,86.0,1986.0
1,continue,s16986,M,BC,0.172,0.420,0.172,8,10,mother,False,331,516,15.0,1996.0
2,continue,s00147,F,BC,0.212,0.601,0.212,1,4,mother,False,311,209,14.0,1976.0
3,continue,s08104,F,ST,0.434,0.611,0.434,2,5,father,True,364,147,28.0,1911.0
4,continue,s11132,F,SC,0.283,0.478,0.283,1,10,mother,True,394,122,15.0,1889.0

In [3]:
data.dtypes

continue_drop          object
student_id             object
gender                 object
caste                  object
mathematics_marks     float64
english_marks         float64
science_marks         float64
science_teacher         int64
languages_teacher       int64
guardian               object
internet                 bool
school_id               int64
total_students          int64
total_toilets         float64
establishment_year    float64
dtype: object

In [4]:
#checking for null values in dataset
data.isnull().sum()

continue_drop           0
student_id              0
gender                  0
caste                   0
mathematics_marks       0
english_marks           0
science_marks           0
science_teacher         0
languages_teacher       0
guardian                0
internet                0
school_id               0
total_students          0
total_toilets         312
establishment_year    312
dtype: int64

In [5]:
#filling the null values in dataset
data["total_toilets"].fillna(data["total_toilets"].mean(), inplace = True)
data["establishment_year"].fillna(data["establishment_year"].mean(), inplace = True)
data.isnull().sum()

continue_drop         0
student_id            0
gender                0
caste                 0
mathematics_marks     0
english_marks         0
science_marks         0
science_teacher       0
languages_teacher     0
guardian              0
internet              0
school_id             0
total_students        0
total_toilets         0
establishment_year    0
dtype: int64

In [6]:
# encoding categorical values
cleanup_nums = {"continue_drop":{"continue":1,"drop":0},
                "gender":{"F":0,"M":1},
                "caste":{"BC":0,"SC":1,"OC":2,"ST":3},
                "guardian":{"mother":0,"father":1,"other":2,"mixed":3}
               }

data.replace(cleanup_nums, inplace=True)

data.internet = data.internet.astype(int)
data.head()

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,1,s01746,1,0,0.666,0.468,0.666,7,6,2,1,305,354,86.0,1986.0
1,1,s16986,1,0,0.172,0.420,0.172,8,10,0,0,331,516,15.0,1996.0
2,1,s00147,0,0,0.212,0.601,0.212,1,4,0,0,311,209,14.0,1976.0
3,1,s08104,0,3,0.434,0.611,0.434,2,5,1,1,364,147,28.0,1911.0
4,1,s11132,0,1,0.283,0.478,0.283,1,10,0,1,394,122,15.0,1889.0

##### feature selection

In [7]:
feature = ['gender', 'caste', 'mathematics_marks', 'english_marks', 'science_marks', 'science_teacher', 'languages_teacher', 'guardian', 'internet', 'total_students',
       'total_toilets']

X= data[feature]
y= data.continue_drop

#### model selection

In [8]:
 from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=45)

In [9]:
# feature Importance
from sklearn.ensemble import RandomForestClassifier
# Define a model
rforest = RandomForestClassifier()
# Fit the model
rforest.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [10]:
# Importing libraries for feature visualization
import seaborn as sns
from plot import *
beatify(fig_width=6)
%matplotlib inline
import matplotlib.pyplot as plt
# Plot the important features
#beatify kuremba graph parameters in beatify
beatify(fig_width=8)
imp_feat_rf = pd.Series(rforest.feature_importances_, index=X.columns).sort_values(ascending=False)
imp_feat_rf.plot(kind='bar', title='Feature Importance with Random Forest', color='C0')
plt.ylabel('Feature Importance values')
plt.subplots_adjust(bottom=0.25)

ModuleNotFoundError: No module named 'plot'

In [ ]:
# dropping less important features
X.drop('total_toilets', axis=1, inplace=True)
X.drop('total_students', axis=1, inplace=True)
X.head()

In [ ]:
sel_features = ['gender', 'caste', 'mathematics_marks', 'english_marks', 'science_marks', 'science_teacher', 'languages_teacher', 'guardian', 'internet']
x1 = X[sel_features]

In [ ]:
# Spilling of Data
#validate in 4 groups x,y,x,y
#random state means ina specify value yyte kwenye value yako 1234 ulioweka 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x1, y,
                                                    test_size=0.25,
                                                    random_state=1234)

In [ ]:
# logistic Regression model
from sklearn.linear_model import LogisticRegression   # 1. choose model class
#kaiita model na kuiweka kweye variable ,then fiti variable
model_one = LogisticRegression()                          # 2. instantiate model
model_one.fit(x_train, y_train)

In [ ]:
# predicting new data
#checki prafomance ya model kwenye training
y_pred1 = model_one.predict(x_test) 
#intoaa majibu ya target

In [ ]:
#f1_score metric
#tunalinganisha actaul and predicted then acc ikigoma unarudi kwenye model
from sklearn.metrics import f1_score
test_acc = f1_score(y_test, y_pred1)
print("training f1score  Accuracy: {}".format(test_acc))

In [ ]:
# Crossing checking predicted and actual data
from sklearn.metrics import confusion_matrix
value = confusion_matrix(y_test,y_pred1)
value

In [ ]:
# Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
rForest = RandomForestClassifier(n_estimators=10)
rForest.fit(x_train, y_train)

In [ ]:
# Prediction and accuracy check
y_pred2 = rForest.predict(x_test)                      
test_acc  = f1_score(y_test, y_pred2)
print("Test Accuracy: {}" .format(test_acc))

In [ ]:
# Cross checking predicted and actual value
value = confusion_matrix(y_test,y_pred2)
value

In [ ]:
# K neighbor model
from sklearn.neighbors import KNeighborsClassifier       # 1. choose model class
knn = KNeighborsClassifier(n_neighbors=3)               # 2. instantiate model
knn.fit(x_train, y_train)

In [ ]:
# predict on new data and accuracy
y_pred3 = knn.predict(x_test)                      
test_acc  = f1_score(y_test, y_pred3)
print("Test Accuracy: {}" .format(test_acc))

In [ ]:
value = confusion_matrix(y_test,y_pred3)
value

##### precting of new data

In [ ]:
# loading test data
t_data = pd.read_csv('data/test_data_week_1_challenge.csv')
t_data.head()

In [ ]:
# encoding categorical values
cleanup_nums = {
                "gender":{"F":0,"M":1},
                "caste":{"BC":0,"SC":1,"OC":2,"ST":3},
                "guardian":{"mother":0,"father":1,"other":2,"mixed":3}
               }

t_data.replace(cleanup_nums, inplace=True)

t_data.internet = t_data.internet.astype(int)
t_data.head()

In [ ]:
sel_features = ['gender', 'caste', 'mathematics_marks', 'english_marks', 'science_marks', 'science_teacher', 'languages_teacher', 'guardian', 'internet']
w= t_data[sel_features]

In [ ]:
# predicting new data
pred = knn.predict(w)
jibu = np.array(pred)                        
jibu

In [ ]:
#saving result
np.save("jibu.npy",result)

### data imbalance

In [11]:
from sklearn import metrics

clf.fit(X[train_idx], y[train_idx])
y_preds = clf.predict(X[test_idx])

NameError: name 'clf' is not defined